* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* style untuk halaman login */
#login-body
{
 background: url('../img/luffi.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 min-height: 100vh;
}
.konten-login
{
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.form-login-wrapper
{
background: transparent;
    padding: 35px 20px;
    min-height: 300px;
    width: 400px;
    /* Kunci Efek Transparan (Glassmorphism) */
  backdrop-filter: blur(3px);                  /* Efek blur pada latar belakang kaca */
  
  /* Bingkai halus & Sudut melengkung */
  border: 1px solid rgba(255, 255, 255, 0.25);  /* Bingkai putih tipis semi-transparan */
  border-radius: 15px;                          /* Sudut melengkung modern */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  
  color: rgb(10, 10, 10);
}
.form-login .peringatan-email
{
    font-size: small;
    margin-top: 2px;
}
.form-login label{
    font-weight: 500;
}
.form-login .invalid-feedback
{
    font-size: small;
}
/* akhir style halaman login */

/* style untuk konten dashboard */
.dashboard-konten
{
   
}
/* akhir dari style konten dashboard */